main {
 display: flex;
 flex-direction: column;
 max-width: 600px;
}

section {
    list-style: none;

    h1 {
        color: #D26F78;
    }

    img {
        max-width: 600px;
    }

    a {
        margin: 3px;
    }
    }