body {
    display: flex;
    justify-content: center;
    background-image: url('../../../public/color.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Roboto Mono';
}