.Home {
    text-align: center;
    max-width: 600px;
    height: 100vh;

    h1 {
        font-size: 40px;
        color: #00CCB6;
    }

    img {
        max-width: 500px;; 
    }

    p {
        text-align: left; 
    }

    aside {
        display: inline;
    }


}